* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

@media (max-width: 1304px) {
  html {
    font-size: 55%;
  }
  .NavBar_Button {
    grid-column: 10/-1;
    margin: auto;
  }
}

@media (max-width: 987px) {
  .Navbar_links ul li {
    font-size: 1.5rem !important;
  }
}
@media (max-width: 853px) {
  .Navbar_links ul li {
    font-size: 1.2rem !important;
  }
}

@media (max-width: 425px) {
  .col-12.col-md-6.hero-right.my-3 {
    display: none;
  }
}
